.chat {
    flex: 2;
    border-left: 1px solid #dddddd35;
    border-right: 1px solid #dddddd35;
    height: 100%;
    display: flex;
    flex-direction: column;

    .top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-bottom: 1px solid #dddddd35;

        .user {
            display: flex;
            align-items: center;
            gap: 20px;

            img {
                width: 60px;
                height: 60px;
                object-fit: cover;
            }

            .texts {
                display: flex;
                flex-direction: column;
                gap: 5px;

                span {
                    font-size: 18px;
                    font-weight: bold;
                }

                p {
                    font-size: 14px;
                    font-weight: 300;
                }
            }

        }

        .icons {
            display: flex;
            align-items: center;
            gap: 20px;

            img {
                width: 20px;
                height: 20px;
            }
        }

    }

    .middle{
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
        overflow-y: scroll;
        padding: 20px;
        .message{
            max-width: 70%;
            display: flex;
            gap: 20px;
        }
        .own{
            align-self: flex-end;
            .text{
                p{
                    background-color: #5183fe;
                }
            }
        }
        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
        }
        .text{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 5px;
            p{
                background-color: rgba(17, 25, 40, 0.3);
                padding: 20px;
                border-radius: 10px;
            }
            span{
                font-size: 13px;
                align-self: flex-end;
            }
            img{
                width: 100%;
                height: 300px;
                border-radius: 5px;
                object-fit: cover;
            }
        }

    }

    .bottom {
        display: flex;
        align-items: center;
        gap: 20px;
        justify-content: space-between;
        border-top: 1px solid #dddddd35;
        margin-top: auto;
        padding: 20px;
        .icons{
            display: flex;
            align-items: center;
            gap: 20px;
            img{
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        }
        img{
                width: 20px;
                height: 20px;
                cursor: pointer;
            }
        input{
            flex: 1;
            padding: 20px;
            font-size: 16px;
            border-radius: 10px;
            background-color: rgba(17, 25, 40, 0.5);
            border: none;
            outline: none;
            color: white;
        }
        .emojis{
            position: relative;
            .picker{
                position: absolute;
                left: 0;
                bottom: 50px;
            }
        }
        button{
            background-color: #5183fe;
            padding: 10px 20px;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    }

}