.login{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 100px;
    .item{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        form{
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        input{
            background-color: rgba(17, 25, 40, 0.6);
            border: none;
            border-radius: 5px;
            outline: none;
            padding: 20px;
            color: white;
        }
        label{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            text-decoration: underline;
            cursor: pointer;
            img{
                width: 50px;
                height: 50px;
                border-radius: 10px;
                object-fit: cover;
            }
        }
        button{
            width: 100%;
            padding: 20px;
            border-radius: 5px;
            border: none;
            background-color: #1a73e8;
            color: white;
            cursor: pointer;
            font-weight: 500;

            &:disabled{
                cursor: not-allowed;
                background-color: #1f8ef1;
            }
        }
        }
    }
    .separator{
        width: 2px;
        height: 80%;
        background-color: #dddddd35;
    }
}